/*
* Landing Page - Practice
*/


/* General */
*{
	font-family: Raleway; 
	font-size: 13px;
	color:#b6b6b6; 
}
/* Header */
header{
	overflow: auto;
	height: 95px;
	width: 100%;
}
header .brand{
	float: left;
	font-size: 24px;
	padding: 10px;
	color: #59abe3;
	margin-top: 32px;
	margin-left: 160px;
}
header nav{
	float: right;
	margin-top: 30px;
	margin-right: 100px;
}
.menu li{
	float: left;
}
.menu{
	list-style-type: none;
}

.menu li a{
	padding: 10px;
	text-decoration: none;
}

.jumbotron{
	background-image: url(../img/jumbotron.jpg);
	background-size: 100%;
	height: 412px;
	width: 100%;
}
.jumbotron *{
	text-align: center;
	padding-top: 45px;
	color: #fff;
}
.jumbotron h1{
	font-size: 32px;
	font-weight: 400;
}
.jumbotron a{
	display: inline-block;
	text-decoration: none;
	margin-top: 40px;
	padding: 15px 20px;
	border-radius: 30px;
	background-color: #ff3399;
	color: #fff;
}
/* Services */
.services{
	overflow: auto;
	width: 870px;
	margin: 30px auto;
	text-align: center;
}
.services h2{
	font-size: 24px;
	font-weight: 400;
	margin: 40px 0;
	color: #111;
}
.service{
	float: left;
	width: 250px;
	margin: 0 20px;
}
/* Blog */
.blog{
	overflow: auto;
	margin: 0 auto;
	width: 900px;	
}
.blog h2{
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: #111;
}
.post{
	overflow: auto;
	margin: 30px 0;
}
.post h3{
	font-size: 24px;
	font-weight: 400;	
	color: #111;
	margin-top: 35px;
}
.post img{
	float: left;
	margin: 0 20px;
}
/* Footer */
footer{
	background-color: #404040;
	padding: 50px;
	text-align: center;
}
footer .brand{
	font-size: 24px;
}
footer .menu{
	display: inline-block;
	padding: 10px;
}
footer .copyright{
	font-size: 10px;
	margin: 0px;
}
